#**
 *  Render a hit representing a Product
 *  assumed to have a field called "name"
 *#
<span class="general">
<div class="result-title"><span class="title">#field('name')</span></div>
<div><span class="id">Id: #field('id')</span></div>
<br/>
<div><u>URL:</u> <span class="wiki"><a href=#field('urlslug') target=_blank>page wiki du personnage</a><span></div>
<div><big><u>Genre:</u> <i><b>#field('genre')</i></b></big></div>
<div><u>Secrecy of the character's identity:</u> #field('secrecy')</div>
<div><u>Align:</u> #field('align')</div>
<div><u>Year:</u> <b>#field('year')</b></div>
<br/>
<div>Is the character alive? <i><b>#field('alive')</b></i></div>
<div>How many times did the character appear? #field('appearances')</div>
<br/>
<div><span class="chara">Other characteristics : </span></div>
 <div class="row">
  <div class="column"><u>Sex:</u> #field('sex')</div>
  <div class="column"><u>Hair:</u> #field('hair')</div>
  <div class="column"><u>Eye:</u> #field('eye')</div>
</div> 
<span>
<div class="mlt">
  #set($mlt = $mltResults.get($docId))
  #set($mltOn = $params.getBool('mlt'))
  #if($mltOn == true)<div class="field-name">Similar Items</div>#end
  #if ($mltOn && $mlt && $mlt.size() > 0)
  <ul>
    #foreach($mltHit in $mlt)
      #set($mltId = $mltHit.getFieldValue('id'))
      <li><div><a href="#url_for_home?q=id:$mltId">$mltId</a></div><div><span class="field-name">Name:</span> $mltHit.getFieldValue('name')</div>
        <div><span class="field-name">Price:</span> $!number.currency($mltHit.getFieldValue('price')) <span class="field-name">In Stock:</span> $mltHit.getFieldValue('inStock')</div>

      </li>
    #end
  </ul>
  #elseif($mltOn && $mlt.size() == 0)
    <div>No Similar Items Found</div>
  #end
</div>
#parse('debug.vm')
